$font-family-sans-serif: 'Source Sans Pro', sans-serif;

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

// Sweetalert 2
@import "sweetalert2/dist/sweetalert2.css";

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.c-form-upload {
    position: relative;
    p {
        border-style: dashed !important;
    }
    input {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        opacity: 0;
    }
}
